.cell.ship-v-2 {
  background-image: url(".assets/ship-sprite.png");
  background-size: 128px 456px;
  background-position: 0px -0px;
  width: 32px;
  height: 64px;
  background-repeat: no-repeat;
}
.cell.ship-v-3 {
  background-image: url(".assets/ship-sprite.png");
  background-size: 128px 456px;
  background-position: 0px -64px;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
}
.cell.ship-h-2 {
  background-image: url(".assets/ship-sprite.png");
  background-size: 128px 456px;
  background-position: 0px -100px;
  width: 64px;
  height: 32px;
  background-repeat: no-repeat;
}
.cell.ship-1 {
  background-image: url(".assets/ship-sprite.png");
  background-size: 128px 456px;
  background-position: 0px -132px;
  width: 96px;
  height: 32px;
  background-repeat: no-repeat;
}
.cell.ship-1b {
  background-image: url(".assets/ship-sprite.png");
  background-size: 128px 456px;
  background-position: 0px -164px;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
}
.cell.ship-h-3 {
  background-image: url(".assets/ship-sprite.png");
  background-size: 128px 456px;
  background-position: 0px -200px;
  width: 32px;
  height: 96px;
  background-repeat: no-repeat;
}
.cell.ship-h-4 {
  background-image: url(".assets/ship-sprite.png");
  background-size: 128px 456px;
  background-position: 0px -296px;
  width: 32px;
  height: 128px;
  background-repeat: no-repeat;
}
.cell.ship-v-4 {
  background-image: url(".assets/ship-sprite.png");
  background-size: 128px 456px;
  background-position: 0px -424px;
  width: 128px;
  height: 32px;
  background-repeat: no-repeat;
}
