
body {
  font-family: sans-serif;
  background: #121212;
  color: white;
  margin: 0;
  padding: 1rem;
  text-align: center;
}
.board {
  display: grid;
  grid-template-columns: repeat(10, 32px);
  grid-template-rows: repeat(10, 32px);
  border: 2px solid white;
}
.cell {
  border: 1px solid white;
  width: 32px;
  height: 32px;
  background-color: rgba(255,255,255,0.05);
}

.cell.ship-1-h-0 {
  background-image: url("assets/ships/ship-1-h-0.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-1-v-0 {
  background-image: url("assets/ships/ship-1-v-0.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-2-h-0 {
  background-image: url("assets/ships/ship-2-h-0.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-2-h-1 {
  background-image: url("assets/ships/ship-2-h-1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-2-v-0 {
  background-image: url("assets/ships/ship-2-v-0.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-2-v-1 {
  background-image: url("assets/ships/ship-2-v-1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-3-h-0 {
  background-image: url("assets/ships/ship-3-h-0.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-3-h-1 {
  background-image: url("assets/ships/ship-3-h-1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-3-h-2 {
  background-image: url("assets/ships/ship-3-h-2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-3-v-0 {
  background-image: url("assets/ships/ship-3-v-0.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-3-v-1 {
  background-image: url("assets/ships/ship-3-v-1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-3-v-2 {
  background-image: url("assets/ships/ship-3-v-2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-4-h-0 {
  background-image: url("assets/ships/ship-4-h-0.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-4-h-1 {
  background-image: url("assets/ships/ship-4-h-1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-4-h-2 {
  background-image: url("assets/ships/ship-4-h-2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-4-h-3 {
  background-image: url("assets/ships/ship-4-h-3.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-4-v-0 {
  background-image: url("assets/ships/ship-4-v-0.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-4-v-1 {
  background-image: url("assets/ships/ship-4-v-1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-4-v-2 {
  background-image: url("assets/ships/ship-4-v-2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cell.ship-4-v-3 {
  background-image: url("assets/ships/ship-4-v-3.png");
  background-size: cover;
  background-repeat: no-repeat;
}
